<div class="banner" id="banner" data-banner aria-labelledby="bannerBtn" aria-hidden="false">
	<div class="container">
		<p>The 2017 Humanitarian ICT Forum has ended, but planning for our 2018 event is already underway. To receive updates, <a href="https://unocha.us6.list-manage.com/subscribe/post?u=7ad9ffc5a736273517159e986&id=cb1a47a834">subscribe to our newsletter</a>.</p>
		<button type="button" class="banner__btn" id="bannerBtn" aria-controls="banner" data-banner-btn>
			<svg aria-hidden="true"><use xlink:href="{{ "/assets/icons/symbol-defs.svg#icon-close" | prepend: site.baseurl }}"></use></svg>
		 	<span class="sr-only">Hide message</span>
		</button>
	</div>
</div>
